* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.navbar {
    display: flex;
    background-color: black;
    position: relative;
    height: 110px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    width: 220px;
    margin-top: 0px;
    margin-left: 180px;
}

.navdiv li {
    list-style: none;
    position: absolute;
    display: inline-block;
    margin-left: 820px;
    margin-top: -63px;
}

.navdiv li a {
    color: white;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.navdiv li a::after {
    content: "";
    position: absolute;
    background-color: #FF4F64;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 10px;
}

.navdiv li a:hover {
    color: #FF4F64;
}

.navdiv li a:hover:after {
    width: 100%;
}

.search {
    --padding: 14px;
    margin-left: 40px;
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: rgb(38, 38, 38);
    transition: box-shadow 0.25s;
}

.search-input {
    font-size: 19px;
    margin-left: 10px;
    color: white;
    outline: none;
    background: transparent;
    width: 300px;
    border: none;
}

.search-input::placeholder {
    color: rgb(255, 255, 255, 0, 7);
}

.search-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 850px;
    cursor: pointer;
    color: white;
}

.cart-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fav-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    color: white;
}

.fav-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper {
    display: flex;
    width: 504%;
    height: 100%;
    animation: slide 30s infinite;
}

.wrapper img {
    width: 100%;
    height: 850px;
    object-fit: cover;
}

@keyframes slide {

    0%,
    18% {
        transform: translateX(0);
    }

    20%,
    38% {
        transform: translateX(-100vw);
    }

    40%,
    58% {
        transform: translateX(-200vw);
    }

    60%,
    78% {
        transform: translateX(-300vw);
    }

    80%,
    100% {
        transform: translateX(-400vw);
    }
}

.categories {
    background-color: black;
    padding-bottom: 200px;
}

.title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    height: 130px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.title span {
    color: #FF4F64;
}

.monitor-card {
    position: relative;
    margin-left: 150px;
    border-radius: 5px;
    height: 270px;
    width: 350px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;

}

.monitor-card img {
    width: 350px;
    height: auto;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.monitor-card:hover img {
    transform: scale(1.2);
}

.monitor-card h3 {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.motherboard-card {
    position: relative;
    margin-top: -270px;
    margin-left: 570px;
    border-radius: 5px;
    height: 270px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.motherboard-card img {
    width: 350px;
    height: 270px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 1px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.motherboard-card:hover img {
    transform: scale(1.2);
}

.motherboard-card h3 {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: -35px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.keyboard-card {
    position: relative;
    margin-top: -268px;
    margin-left: 980px;
    border-radius: 5px;
    height: 270px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.keyboard-card img {
    width: 350px;
    height: 279px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.keyboard-card:hover img {
    transform: scale(1.2);
}

.keyboard-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -43px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.mouse-card {
    position: relative;
    margin-left: 1400px;
    margin-top: -270px;
    border-radius: 5px;
    height: 270px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.mouse-card img {
    width: 350px;
    height: 279px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.mouse-card:hover img {
    transform: scale(1.2);
}

.mouse-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -43px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.graphic-card {
    position: relative;
    margin-left: 150px;
    margin-top: 90px;
    border-radius: 5px;
    height: 270px;
    width: 350px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.graphic-card img {
    width: 350px;
    height: 279;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.graphic-card:hover img {
    transform: scale(1.2);
}

.graphic-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -43px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.cooler-card {
    position: relative;
    margin-left: 570px;
    margin-top: -270px;
    border-radius: 5px;
    height: 270px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.cooler-card img {
    width: 350px;
    height: 270px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.cooler-card:hover img {
    transform: scale(1.2);
}

.cooler-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -35px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.headphone-card {
    position: relative;
    margin-left: 980px;
    margin-top: -270px;
    border-radius: 5px;
    height: 270px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.headphone-card img {
    width: 350px;
    height: 270px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.headphone-card:hover img {
    transform: scale(1.2);
}

.headphone-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -35px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.cabinet-card {
    position: relative;
    margin-left: 1400px;
    margin-top: -270px;
    border-radius: 5px;
    height: 270px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.cabinet-card img {
    width: 350px;
    height: 270px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.cabinet-card:hover img {
    transform: scale(1.2);
}

.cabinet-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -35px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.powersupply-card {
    position: relative;
    margin-left: 150px;
    margin-top: 90px;
    border-radius: 5px;
    height: 270px;
    width: 350px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.powersupply-card img {
    width: 350px;
    height: 270px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.powersupply-card:hover img {
    transform: scale(1.2);
}

.powersupply-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -34px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.processor-card {
    position: relative;
    margin-left: 570px;
    margin-top: -270px;
    border-radius: 5px;
    height: 270px;
    width: 350px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.processor-card img {
    width: 350px;
    height: 270px;
    margin-top: 0px;
    max-width: 380px;
    border-radius: 10px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.processor-card:hover img {
    transform: scale(1.2);
}

.processor-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -34px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.ram-card {
    position: relative;
    margin-left: 980px;
    margin-top: -280px;
    border-radius: 5px;
    height: 280px;
    width: 350px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.ram-card img {
    width: 350px;
    height: 290px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.ram-card:hover img {
    transform: scale(1.2);
}

.ram-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -42px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.ssd-card {
    position: relative;
    margin-left: 1400px;
    margin-top: -280px;
    border-radius: 5px;
    height: 280px;
    width: 340px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}

.ssd-card img {
    width: 350px;
    height: 290px;
    margin-top: 0px;
    max-width: 380px;
    display: flex;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.ssd-card:hover img {
    transform: scale(1.2);
}

.ssd-card h3 {
    color: white;
    font-size: 20px;
    margin-top: -42px;
    margin-left: 0px;
    z-index: 10;
    padding: 5px;
    border-radius: 5px;
}

.new-section {
    background-image: url(indeximages/transformed.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    height: 200px;
}

.container1 {
    position: relative;
    width: 400px;
    margin-left: 70px;
    top: -55px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(220, 220, 220, 0.442);
}

.container1 img {
    width: 100px;
    margin-top: -10px;
    margin-left: 140px;

}

.container1 h3 {
    color: black;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 35px;
}

.container2 {
    position: relative;
    width: 370px;
    margin-left: 550px;
    margin-top: -150px;
    top: -116px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(220, 220, 220, 0.442);
}

.container2 img {
    width: 100px;
    margin-top: -7px;
    margin-left: 140px;

}

.container2 h3 {
    color: black;
    width: 350px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 40px;
}

.container3 {
    position: relative;
    width: 370px;
    margin-left: 997px;
    margin-top: -150px;
    top: -176px;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: rgba(220, 220, 220, 0.442);
}

.container3 img {
    width: 100px;
    margin-top: -1px;
    margin-left: 130px;
}

.container3 h3 {
    color: black;
    width: 350px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.container4 {
    position: relative;
    width: 370px;
    margin-left: 1450px;
    margin-top: -210px;
    top: -176px;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: rgba(220, 220, 220, 0.442);
}

.container4 img {
    width: 100px;
    margin-top: -1px;
    margin-left: 140px;
}

.container4 h3 {
    color: black;
    width: 290px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 60px;
}

.custom-pc {
    background-color: black;
    padding: 100px;
}

.title1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 20px;
}

.title1 span {
    color: #FF4F64;
}

.subtitle1 {
    color: white;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.custom-pc p1 {
    color: white;
    font-size: 20px;
    margin-left: 600px;
}

.pc-options {
    margin-left: 125px;
    gap: 50px;
    margin-top: 20px;
}

.pc-build1 {
    background: linear-gradient(#202020, black);
    position: relative;
    padding-bottom: 200px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
    width: 700px;
    height: 500px;
    display: inline-block;
}

.pc-build1 h3 {
    color: white;
    font-size: 30px;
    margin-top: 23px;
}

.pc-build1:hover {
    box-shadow: 0 3px 8px rgb(56, 55, 55);
}

.pc-build1 img {
    width: 460px;
    height: 410px;
    margin-top: 10px;
}

.overlay-image1 {
    position: absolute;
    top: 270px;
    left: 130px;
    width: auto;
    height: auto;
    max-height: 130px;
    max-width: 130px;
    opacity: 2;
}

.stock1 {
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.price1 {
    font-size: 1.2em;
    margin-top: 15px;
    padding-bottom: 30px;
    color: white;
}

.price1 span {
    color: #d00;
    font-weight: bold;
}

button1 {
    background: red;
    color: #fff;
    border: none;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    transition: 0.3s;
}

button1 a {
    color: white;
    text-decoration: none;
}

button1:hover {
    background: darkred;
}

.pc-build2 {
    background: linear-gradient(#202020, black);
    position: relative;
    padding-bottom: 297px;
    margin-left: 30px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
    width: 700px;
    height: 403px;
    display: inline-block;
}

.pc-build2 h3 {
    color: white;
    margin-top: 44px;
    font-size: 30px;
}

.pc-build2:hover {
    box-shadow: 0 3px 8px rgb(56, 55, 55);
}

.pc-build2 img {
    width: 690px;
    height: 600px;
    margin: -100px;
    margin-top: -100px;
}

.overlay-image2 {
    position: absolute;
    top: 380px;
    left: 220px;
    width: auto;
    height: auto;
    max-height: 130px;
    max-width: 130px;
    opacity: 2;
}

.stock2 {
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.price2 {
    font-size: 1.2em;
    color: white;
    margin-top: 15px;
    padding-bottom: 29px;
}

.price2 span {
    color: #d00;
    font-weight: bold;
}

button2 {
    background: red;
    color: #fff;
    border: none;
    padding: 15px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    transition: 0.3s;
}

button2 a {
    color: white;
    text-decoration: none;
}

button2:hover {
    background: darkred;
}

.sec {
    background-image: url(indeximages/back1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 360px;
    padding-top: 10px;
    height: 350px;
}

.con {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.title2 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.title2 span {
    color: #FF4F64;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.boxx {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    background: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.boxx h3 {
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    margin: 10;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.boxx p {
    margin-top: 8px;
    color: white;
    font-size: 14px;
}

.boxx::before {
    content: attr(data-number);
    position: absolute;
    font-size: 120px;
    font-weight: bold;
    color: #ff4f6481;
    top: 30px;
    left: 120px;
}

.brands {
    background-color: black;
    padding: 0;
    padding-bottom: 100px;
}

.title3 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -20px;
}

.title3 span {
    color: #FF4F64;
}

.rog {
    background-color: black;
    margin-top: 100px;
    margin-left: 150px;
    width: 250px;
    height: 150px;
}

.rog img {
    width: 220px;
    height: 220px;
    margin-top: -40px;
    margin-left: 10px;
}

.aorus {
    background-color: black;
    margin-top: -150px;
    margin-left: 530px;
    width: 160px;
    height: 150px;
}

.aorus img {
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-left: 10px;
}

.logitech {
    background-color: black;
    margin-top: -150px;
    margin-left: 850px;
    width: 150px;
    height: 150px;
}

.logitech img {
    width: 140px;
    height: 140px;
    margin-top: 6px;
    margin-left: 5px;
}

.amd {
    background-color: black;
    margin-top: -150px;
    margin-left: 59%;
    width: 300px;
    height: 150px;
}

.amd img {
    width: 300px;
    height: 130px;
    margin-left: -10px;
    margin-top: 10px;
}

.corsair {
    background-color: black;
    margin-top: -150px;
    margin-left: 81%;
    width: 180px;
    height: 150px;
}

.corsair img {
    width: 240px;
    height: 240px;
    margin-left: -30px;
    margin-top: -50px;
}

.razer {
    background-color: black;
    margin-top: 100px;
    margin-left: 280px;
    width: 200px;
    height: 200px;
}

.razer img {
    width: 300px;
    height: 200px;
    margin-left: -50px;
    margin-top: 0px;
}

.intel {
    background-color: black;
    margin-top: -200px;
    margin-left: 630px;
    width: 280px;
    height: 200px;
}

.intel img {
    width: 250px;
    height: 150px;
    margin-left: 10px;
    margin-top: 20px;
}

.msi {
    background-color: black;
    margin-top: -200px;
    margin-left: 1040px;
    width: 200px;
    height: 200px;
}

.msi img {
    width: 400px;
    height: 200px;
    margin-left: -100px;
    margin-top: 0px;
}

.coolermaster {
    background-color: black;
    margin-top: -200px;
    margin-left: 1380px;
    width: 250px;
    height: 200px;
}

.coolermaster img {
    width: 350px;
    height: 300px;
    margin-left: -50px;
    margin-top: -50px;
}

footer {
    background-color: #FF4F64;
    color: black;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 400px;
}

.footer-section-brand {
    margin-left: -180px;
    padding-left: 130px;
    width: 300px;
    height: 150px;
}

.footer-section-brand img {
    margin-left: -170px;
    margin-top: -90px;
    width: 490px;
    height: 300px;
}

.footer-section-brand p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -70px;
    margin-left: -80px;
    width: 300px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons a:hover {
    color: black;
}

@media (max-width: 1024px) {
    .navbar {
        display: flex;
        background-color: black;
        position: relative;
        height: 100px;
    }

    .logo img {
        display: flex;
        width: 170px;
        margin-top: 0px;
        margin-left: 70px;
    }

    .navdiv li {
        list-style: none;
        position: absolute;
        display: inline-block;
        margin-left: 460px;
        margin-top: -45px;
    }

    .navdiv li a {
        color: white;
        padding: 10px 0px 0px 15px;
        font-size: 13px;
        display: inline-block;
        position: relative;
    }

    .search {
        --padding: 14px;
        margin-left: 15px;
        position: relative;
        width: 180px;
        height: 10px;
        display: flex;
        align-items: center;
        padding: var(--padding);
        border-radius: 28px;
        background-color: rgb(38, 38, 38);
        transition: box-shadow 0.25s;
    }

    .search-input {
        font-size: 14px;
        margin-left: 8px;
        color: white;
        outline: none;
        background: transparent;
        width: 300px;
        border: none;
    }

    .search-icon {
        color: white;
        font-size: 17px;
        cursor: pointer;
    }

    .cart-icon {
        position: relative;
        font-size: 15px;
        margin-top: 46px;
        margin-left: 430px;
        cursor: pointer;
        color: white;
    }

    .cart-icon span {
        position: absolute;
        top: -5px;
        right: -10px;
        background: red;
        color: white;
        font-size: 12px;
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .fav-icon {
        position: relative;
        font-size: 18px;
        margin-top: 45px;
        margin-left: 20px;
        cursor: pointer;
        color: white;
    }

    .fav-icon span {
        position: absolute;
        top: -4px;
        right: -10px;
        background: red;
        color: white;
        font-size: 12px;
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .wrapper {
        display: flex;
        width: 500%;
        height: 100%;
        animation: slide 30s infinite;
    }

    .wrapper img {
        width: 100%;
        height: 496px;
        object-fit: cover;
    }

    .categories {
        padding-bottom: 80px;
    }

    .title {
        font-size: 40px;
        margin: -30px 0px -90px 0px;
        text-align: center;
    }

    .monitor-card {
        margin-left: 50px;
        height: 200px;
        width: 200px;
    }

    .monitor-card img {
        width: 200px;
        height: 180px;
    }

    .monitor-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .motherboard-card {
        margin-top: -200px;
        margin-left: 290px;
        height: 200px;
        width: 200px;
    }

    .motherboard-card img {
        width: 200px;
        height: 180px;
    }

    .motherboard-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .keyboard-card {
        margin-top: -200px;
        margin-left: 530px;
        height: 200px;
        width: 200px;
    }

    .keyboard-card img {
        width: 200px;
        height: 180px;
    }

    .keyboard-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .mouse-card {
        margin-left: 770px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .mouse-card img {
        width: 200px;
        height: 180px;
    }

    .mouse-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .graphic-card {
        margin-left: 50px;
        margin-top: 50px;
        height: 200px;
        width: 200px;
    }

    .graphic-card img {
        width: 200px;
        height: 180px;
    }

    .graphic-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .cooler-card {
        margin-left: 290px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .cooler-card img {
        width: 200px;
        height: 180px;
    }

    .cooler-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .headphone-card {
        margin-left: 530px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .headphone-card img {
        width: 200px;
        height: 180px;
    }

    .headphone-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .cabinet-card {
        margin-left: 770px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .cabinet-card img {
        width: 200px;
        height: 180px;
    }

    .cabinet-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .powersupply-card {
        margin-left: 50px;
        margin-top: 50px;
        height: 200px;
        width: 200px;
    }

    .powersupply-card img {
        width: 200px;
        height: 180px;
    }

    .powersupply-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .processor-card {
        margin-left: 300px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .processor-card img {
        width: 200px;
        height: 180px;
    }

    .processor-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .ram-card {
        margin-left: 530px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .ram-card img {
        width: 200px;
        height: 180px;
    }

    .ram-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .ssd-card {
        margin-left: 770px;
        margin-top: -200px;
        height: 200px;
        width: 200px;
    }

    .ssd-card img {
        width: 200px;
        height: 180px;
    }

    .ssd-card h3 {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 0px;
    }

    .new-section {
        height: 130px;
    }

    .container1 {
        width: 230px;
        margin-left: 20px;
        top: -55px;
        padding-bottom: 30px;
    }

    .container1 img {
        width: 50px;
        margin-top: -10px;
        margin-left: 95px;
    }

    .container1 h3 {
        color: white;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .container2 {
        width: 230px;
        margin-left: 270px;
        margin-top: -150px;
        top: -48px;
    }

    .container2 img {
        width: 50px;
        margin-top: -10px;
        margin-left: 90px;
    }

    .container2 h3 {
        color: white;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 25px;
    }

    .container3 {
        width: 230px;
        margin-left: 520px;
        margin-top: -20px;
        top: -170px;
        padding-bottom: 30px;
    }

    .container3 img {
        width: 50px;
        margin-top: -9px;
        margin-left: 90px;
    }

    .container3 h3 {
        color: white;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .container4 {
        width: 230px;
        margin-left: 770px;
        margin-top: -210px;
        top: -102px;
        padding-bottom: 25px;
    }

    .container4 img {
        width: 50px;
        margin-top: -7px;
        margin-left: 90px;
    }

    .container4 h3 {
        color: white;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 30px;
    }

    .custom-pc {
        background-color: black;
        padding: 50px;
    }

    .title1 {
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-top: -20px;
    }

    .subtitle1 {
        font-size: 15px;
        margin-top: -10px;
    }

    .custom-pc p1 {
        font-size: 15px;
        margin-left: 250px;
    }

    .pc-options {
        margin-left: 40px;
    }

    .pc-build1 {
        top: -10px;
        width: 400px;
        height: 200px;
    }

    .pc-build1 h3 {
        font-size: 20px;
        margin-top: 23px;
    }

    .pc-build1 img {
        width: 300px;
        height: 250px;
        margin-top: 20px;
    }

    .overlay-image1 {
        top: 150px;
        left: 50px;
        max-height: 90px;
        max-width: 90px;
    }

    .stock1 {
        font-size: 15px;
        margin-top: 15px;
    }

    .price1 {
        font-size: 15px;
        margin-top: 15px;
        padding-bottom: 30px;
    }

    button1 {
        background: red;
        color: #fff;
        border: none;
        padding: 9px 9px;
        cursor: pointer;
        border-radius: 5px;
        width: 100px;
        transition: 0.3s;
    }

    .pc-build2 {
        margin-left: 30px;
        top: -10px;
        width: 400px;
        height: 200px;
    }

    .pc-build2 h3 {
        font-size: 20px;
        margin-top: 70px;
    }

    .pc-build2 img {
        width: 420px;
        height: 370px;
        margin: -100px;
        margin-top: -48px;
    }

    .overlay-image2 {
        top: 220px;
        left: 150px;
        max-height: 90px;
        max-width: 90px;
    }

    .stock2 {
        font-size: 15px;
        margin-top: 15px;
    }

    .price2 {
        font-size: 15px;
        margin-top: 15px;
        padding-bottom: 30px;
    }

    button2 {
        padding: 9px 9px;
        margin-top: -1px;
        width: 150px;
    }

    .sec {
        padding: 160px;
        padding-top: 10px;
    }

    .con {
        padding: 30px 10px;
    }

    .title2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: -15px;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .boxx {
        padding: 10px 20px 10px 20px;
    }

    .boxx h3 {
        width: 150px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;
    }

    .boxx p {
        margin-top: 8px;
        font-size: 12px;
    }

    .boxx::before {
        font-size: 100px;
        color: #ff4f6460;
        top: 30px;
        left: 70px;
    }

    .brands {
        padding-bottom: 70px;
    }

    .brands h3 {
        font-size: 40px;
        padding-top: 50px;
    }

    .title3 {
        font-size: 40px;
        padding: 40px 0px 20px 0px;
    }

    .rog {
        margin-top: 30px;
        margin-left: 50px;
        width: 150px;
        height: 130px;
    }

    .rog img {
        width: 130px;
        height: 120px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .aorus {
        margin-top: -130px;
        margin-left: 250px;
        width: 130px;
        height: 120px;
    }

    .aorus img {
        width: 90px;
        height: 90px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .logitech {
        margin-top: -120px;
        margin-left: 430px;
        width: 130px;
        height: 120px;
    }

    .logitech img {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .amd {
        margin-top: -120px;
        margin-left: 59%;
        width: 190px;
        height: 120px;
    }

    .amd img {
        width: 170px;
        height: 90px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .corsair {
        margin-top: -120px;
        margin-left: 81%;
        width: 130px;
        height: 120px;
    }

    .corsair img {
        width: 160px;
        height: 160px;
        margin-left: -20px;
        margin-top: -30px;
    }

    .razer {
        margin-top: 30px;
        margin-left: 100px;
        width: 130px;
        height: 100px;
    }

    .razer img {
        width: 160px;
        height: 100px;
        margin-left: -15px;
        margin-top: 0px;
    }

    .intel {
        margin-top: -100px;
        margin-left: 290px;
        width: 170px;
        height: 110px;
    }

    .intel img {
        width: 150px;
        height: 100px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .msi {
        margin-top: -115px;
        margin-left: 530px;
        width: 130px;
        height: 120px;
    }

    .msi img {
        width: 230px;
        height: 120px;
        margin-left: -50px;
        margin-top: 0px;
    }

    .coolermaster {
        margin-top: -120px;
        margin-left: 730px;
        width: 180px;
        height: 110px;
    }

    .coolermaster img {
        width: 200px;
        height: 150px;
        margin-left: -10px;
        margin-top: -20px;
    }

    footer {
        padding: 30px;
    }

    .footer-container {
        max-width: 1200px;
        margin-left: 50px;
    }

    .footer-section-brand {
        margin-left: -200px;
        padding-left: 130px;
        width: 300px;
        height: 150px;
    }

    .footer-section-brand img {
        margin-left: -20px;
        margin-top: -60px;
        width: 340px;
        height: 200px;
    }

    .footer-section-brand p {
        font-size: 13px;
        margin-top: -70px;
        margin-left: 50px;
        width: 200px;
    }

    .footer-section {
        min-width: 100px;
        margin: 15px;
    }

    .footer-section h3 {
        font-size: 15px;
    }

    .footer-section ul li a {
        font-size: 13px;
    }
    
    .footer-section p {
        font-size: 13px;
    }

    .social-icons a {
        color: white;
        margin-right: 10px;
        font-size: 20px;
    }
}