* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    background-color: black;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.navbar {
    display: flex;
    background-color: black;
    position: relative;
    height: 110px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    width: 220px;
    margin-top: 0px;
    margin-left: 180px;
}

.navdiv li {
    list-style: none;
    position: absolute;
    display: inline-block;
    margin-left: 820px;
    margin-top: -63px;
}

.navdiv li a {
    color: white;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.navdiv li a::after {
    content: "";
    position: absolute;
    background-color: #FF4F64;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 10px;
}

.navdiv li a:hover {
    color: #FF4F64;
}

.navdiv li a:hover:after {
    width: 100%;
}

.search {
    --padding: 14px;
    margin-left: 40px;
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: rgb(42, 41, 41);
    transition: box-shadow 0.25s;
}

.search-input {
    font-size: 19px;
    margin-left: 10px;
    color: white;
    outline: none;
    background: transparent;
    width: 300px;
    border: none;
}

.search-input::placeholder {
    color: rgb(255, 255, 255, 0, 7);
}

.search-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 850px;
    cursor: pointer;
    color: white;
}

.cart-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fav-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    color: white;
}

.fav-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.first-section {
    width: 100%;
    height: 850px;
    padding-top: 30px;
}
.title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.title span {
    color: #FF4F64;
}
.subtitle {
    color: white;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
}
.intel-part {
    width: 900px;
    height: 450px;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 40px;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}
.intel-part:hover img {
    transform: scale(1.05);
}
.intel-part img {
    width: 900px;
    height: 450px;
    border-radius: 10px;
    position: relative;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.amd-part {
    width: 900px;
    height: 450px;
    border-radius: 10px;
    margin-top: -450px;
    margin-left: 970px;
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}
.amd-part:hover img {
    transform: scale(1.05);
}
.amd-part img {
    width: 900px;
    height: 450px;
    border-radius: 10px;
    position: relative;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

footer {
    background-color: #FF4F64;
    color: black;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 400px;
}

.footer-section-brand {
    margin-left: -180px;
    padding-left: 130px;
    width: 300px;
    height: 150px;
}

.footer-section-brand img {
    margin-left: -170px;
    margin-top: -90px;
    width: 490px;
    height: 300px;
}

.footer-section-brand p {
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    margin-top: -70px;
    margin-left: -80px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section p {
    font-weight: 600;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons a:hover {
    color: black;
}

