* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.navbar {
    display: flex;
    background-color: black;
    position: relative;
    height: 110px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    width: 220px;
    margin-top: 0px;
    margin-left: 180px;
}

.navdiv li {
    list-style: none;
    position: absolute;
    display: inline-block;
    margin-left: 820px;
    margin-top: -63px;
}

.navdiv li a {
    color: white;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.navdiv li a::after {
    content: "";
    position: absolute;
    background-color: #FF4F64;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 10px;
}

.navdiv li a:hover {
    color: #FF4F64;
}

.navdiv li a:hover:after {
    width: 100%;
}

.search {
    --padding: 14px;
    margin-left: 40px;
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: rgb(42, 41, 41);
    transition: box-shadow 0.25s;
}

.search-input {
    font-size: 19px;
    margin-left: 10px;
    color: white;
    outline: none;
    background: transparent;
    width: 300px;
    border: none;
}

.search-input::placeholder {
    color: rgb(255, 255, 255, 0, 7);
}

.search-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 850px;
    cursor: pointer;
    color: white;
}

.cart-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fav-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    color: white;
}

.fav-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.heading {
    background-color: black;
    padding-top: 10px;
}

.title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.title span {
    color: #FF4F64;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    background-color: black;
}

.product-card {
    background: linear-gradient(#202020, black);
    border-radius: 15px;
    width: 350px;
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.status {
    background-color: #00c853;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

.product-card h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.spec-title {
    color: #3399ff;
    font-weight: bold;
    margin-bottom: 5px;
}

.specs {
    color: white;
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.warranty {
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
}

.price {
    color: #FF4F64;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.price .small {
    font-size: 12px;
    color: white;
}

.monthly {
    font-size: 12px;
    color: white;
    margin-bottom: 15px;
}

.cart-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-btn:hover {
    background-color: grey;
}

footer {
    background-color: #FF4F64;
    color: black;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 400px;
}

.footer-section-brand {
    margin-left: -180px;
    padding-left: 130px;
    width: 300px;
    height: 150px;
}
.footer-section-brand img {
    margin-left: -170px;
    margin-top: -90px;
    width: 490px;
    height: 300px;
}
.footer-section-brand p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -70px;
    margin-left: -80px;
    width: 300px;
}
.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    font-weight: 600;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons a:hover {
    color: black;
}

@media (max-width: 1440px) {
    .navbar {
        height: 100px;
    }

    .logo img {
        width: 170px;
        margin-top: 0px;
        margin-left: 190px;
    }

    .navdiv li {
        margin-left: 600px;
        margin-top: -45px;
    }

    .navdiv li a {
        padding: 10px 0px 0px 15px;
        font-size: 15px;
    }

    .navdiv li a::after {
        bottom: -5px;
    }

    .search {
        --padding: 14px;
        margin-left: 15px;
        width: 200px;
        height: 10px;
    }

    .search-input {
        font-size: 16px;
        margin-left: 8px;
        width: 300px;
    }

    .search-icon {
        font-size: 17px;
    }

    .cart-icon {
        font-size: 17px;
        margin-top: 46px;
        margin-left: 570px;
    }

    .cart-icon span {
        position: absolute;
        top: -5px;
        right: -10px;
        font-size: 12px;
        width: 12px;
        height: 12px;
    }

    .fav-icon {
        position: relative;
        font-size: 19px;
        margin-top: 45px;
        margin-left: 30px;
    }

    .fav-icon span {
        top: -4px;
        right: -10px;
        font-size: 12px;
        width: 12px;
        height: 12px;
    }

    .title {
        font-size: 60px;
    }

    .product-section {
        gap: 40px;
        padding: 40px 20px;
    }
    
    .product-card {
        width: 250px;
    }

    .status {
        padding: 5px 12px;
        font-size: 12px;
    }
    
    .product-card h3 {
        color: white;
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .specs {
        font-size: 13px;
        margin-bottom: 5px;
    }
    
    .warranty {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .price {
        font-size: 20px;
    }
    
    .small {
        font-size: 12px;
        color: white;
    }

    footer {
        padding: 30px;
    }

    .footer-container {
        max-width: 1200px;
        margin-left: 50px;
    }

    .footer-section-brand {
        margin-left: -200px;
        padding-left: 250px;
        width: 300px;
        height: 150px;
    }

    .footer-section-brand img {
        margin-left: -50px;
        margin-top: -60px;
        width: 380px;
        height: 230px;
    }

    .footer-section-brand p {
        font-size: 15px;
        margin-top: -70px;
        margin-left: 30px;
        width: 230px;
    }

    .footer-section {
        min-width: 100px;
        padding-left: 20px;
        margin: 30px;
    }

    .footer-section h3 {
        font-size: 17px;
    }

    .footer-section ul li a {
        font-size: 15px;
    }

    .footer-section p {
        font-size: 15px;
        width: 250px;
    }

    .social-icons a {
        color: white;
        margin-right: 10px;
        font-size: 25px;
    }
}