* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.navbar {
    display: flex;
    background-color: black;
    position: relative;
    height: 110px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    width: 220px;
    margin-top: 0px;
    margin-left: 180px;
}

.navdiv li {
    list-style: none;
    position: absolute;
    display: inline-block;
    margin-left: 820px;
    margin-top: -63px;
}

.navdiv li a {
    color: white;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.navdiv li a::after {
    content: "";
    position: absolute;
    background-color: #FF4F64;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 10px;
}

.navdiv li a:hover {
    color: #FF4F64;
}

.navdiv li a:hover:after {
    width: 100%;
}

.search {
    --padding: 14px;
    margin-left: 40px;
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: rgb(38, 38, 38);
    transition: box-shadow 0.25s;
}

.search-input {
    font-size: 19px;
    margin-left: 10px;
    color: white;
    outline: none;
    background: transparent;
    width: 300px;
    border: none;
}

.search-input::placeholder {
    color: rgb(255, 255, 255, 0, 7);
}

.search-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 850px;
    cursor: pointer;
    color: white;
}

.cart-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fav-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    color: white;
}

.fav-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.hero-section {
    background-image: url(servicesimg/mainimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 90px;
    text-align: center;
}

.hero-section h1 {
    margin-top: 10px;
    font-size: 60px;
}

.hero-section h1 span {
    color: #FF4F64;
}

.hero-section p {
    margin: 30px 0;
    font-size: 20px;
}

.hero-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 0 10px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.primary-btn {
    background-color: #FF4F64;
    color: #fff;
}

.primary-btn:hover {
    background-color: #ff203a;
}

.secondary-btn {
    border: 2px solid black;
    color: black;
}

.secondary-btn:hover {
    background-color: #fff;
    color: #f93148;
}

.about-section {
    padding: 80px 20px;
    background-color: black;
}

.container1 {
    max-width: 1200px;
    margin: auto;
    padding: 0px 0px 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.about-content {
    flex: 1;
}

.about-content h2 {
    color: white;
    font-size: 60px;
    margin: 0px 0px 20px -50px;
}

.about-content h2 span {
    color: #FF4F64;
}

.about-content p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: -50px;
    color: white;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    margin-left: 50px;
}

.btn1 {
    display: inline-block;
    padding: 10px 25px;
    margin: 0 -50px;
    margin-top: 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.primary-btn1 {
    background-color: #FF4F64;
    color: #fff;
}

.primary-btn1:hover {
    background-color: #ff203a;
}

.container2 {
    background-color: #383838;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-top: -80px;
}

.services-section {
    padding: 0;
}

.section-title {
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 60px 0px 0px 300px;
}

.services-grid {
    padding: 0px 300px 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.service-box {
    background-color: #fdfdfd;
    border: 1px solid #eee;
    padding: 15px 15px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.service-box i {
    font-size: 50px;
    color: #FF4F64;
    margin-bottom: 20px;
}

.service-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: black;
}

.service-box p {
    color: black;
    font-size: 16px;
}

.container3 {
    background-color: white;
    width: 100%;
    padding: 50px 0px 0px;
    text-align: center;
}

.section-subtitle1 {
    color: black;
    font-size: 60px;
    margin: 30px 0px 0px -850px;
}

.section-title1 {
    color: #FF4F64;
    font-size: 40px;
    margin: 20px 0px 0px -950px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 20px;
    padding: 0px 300px 90px;
}

.testimonial-card {
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 50px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.client-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.stars {
    color: gold;
    font-size: 25px;
    margin-bottom: 10px;
}

.client-name {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.testimonial-text {
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
}

.container4 {
    background-color: black;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 20px;
    padding: 0px 300px 90px;
}

.blog-card {
    background: #fff;
    border-radius: 10px;
    padding: 40px 0px 50px;
}

.blog-card img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -40px 0px 0px;
    object-fit: cover;
}

.section-subtitle2 {
    color: white;
    font-size: 60px;
    margin: 30px 0px 0px -750px;
}

.section-title2 {
    color: #FF4F64;
    font-size: 40px;
    margin: 20px 0px 0px -910px;
}

.post-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.post-text {
    font-size: 15px;
    color: black;
    padding: 0 15px;
    margin: 15px;
}

.read-more {
    display: inline-block;
    font-size: 20px;
    margin: 25px 0px 0px;
    color: #FF4F64;
    font-weight: bold;
}

.read-more:hover {
    color: #ff203a;
}

footer {
    background-color: #FF4F64;
    color: black;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 400px;
}

.footer-section-brand {
    margin-left: -180px;
    padding-left: 130px;
    width: 300px;
    height: 150px;
}

.footer-section-brand img {
    margin-left: -170px;
    margin-top: -90px;
    width: 490px;
    height: 300px;
}

.footer-section-brand p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -70px;
    margin-left: -80px;
    width: 300px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons a:hover {
    color: black;
}

@media (max-width: 1440px) {
    .navbar {
        height: 100px;
    }

    .logo img {
        width: 170px;
        margin-top: 0px;
        margin-left: 190px;
    }

    .navdiv li {
        margin-left: 600px;
        margin-top: -45px;
    }

    .navdiv li a {
        padding: 10px 0px 0px 15px;
        font-size: 15px;
    }

    .navdiv li a::after {
        bottom: -5px;
    }

    .search {
        --padding: 14px;
        margin-left: 15px;
        width: 200px;
        height: 10px;
    }

    .search-input {
        font-size: 16px;
        margin-left: 8px;
        width: 300px;
    }

    .search-icon {
        font-size: 17px;
    }

    .cart-icon {
        font-size: 17px;
        margin-top: 46px;
        margin-left: 570px;
    }

    .cart-icon span {
        position: absolute;
        top: -5px;
        right: -10px;
        font-size: 12px;
        width: 12px;
        height: 12px;
    }

    .fav-icon {
        position: relative;
        font-size: 19px;
        margin-top: 45px;
        margin-left: 30px;
    }

    .fav-icon span {
        top: -4px;
        right: -10px;
        font-size: 12px;
        width: 12px;
        height: 12px;
    }

    .hero-section {
        height: 300px;
    }

    .hero-section h1 {
        margin-top: -40px;
        font-size: 60px;
    }

    .hero-section p {
        margin: 10px 0;
        font-size: 17px;
    }

    .btn {
        display: inline-block;
        padding: 10px 10px;
        margin: 0 10px;
        border-radius: 50px;
        text-decoration: none;
        font-weight: 500;
        transition: 0.3s;
    }

    .secondary-btn {
        border: 1px solid black;
    }

    .container1 {
        max-width: 1200px;
        padding: 0px 0px 60px 0px;
        gap: 40px;
    }

    .about-content h2 {
        font-size: 45px;
        margin: -10px 0px 20px 30px;
    }

    .about-content p {
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .about-image img {
        width: 90%;
        border-radius: 10px;
        margin-left: 20px;
        margin-top: -10px;
    }

    .btn1 {
        padding: 10px 10px;
        margin: 0 30px;
        margin-top: 10px;
    }

    .section-title {
        color: white;
        font-size: 60px;
        margin: 40px 0px 0px 500px;
    }

    .services-grid {
        padding: 0px 100px 70px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .service-box {
        padding: 20px 20px;
    }

    .service-box i {
        font-size: 5-px;
    }

    .service-box h3 {
        font-size: 23px;
        margin-bottom: 12px;
    }

    .service-box p {
        color: black;
        font-size: 14px;
    }

    .container3 {
        padding: 30px 0px 0px 0px;
    }

    .section-subtitle1 {
        font-size: 60px;
        margin: 20px 0px 0px 0px;
    }

    .section-title1 {
        font-size: 30px;
        margin: 10px 0px;
    }

    .testimonials-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0px 100px 90px;
    }

    .testimonial-card {
        padding: 20px 10px;
    }

    .client-photo {
        width: 60px;
        height: 60px;
        margin-bottom: 0px;
    }

    .stars {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .client-name {
        font-size: 17px;
    }

    .testimonial-text {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .blog-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0px 100px 30px;
    }

    .blog-card {
        padding: 40px 0px 30px;
    }

    .blog-card img {
        height: 250px;
    }

    .section-subtitle2 {
        font-size: 60px;
        margin: 10px 0px 0px;
    }

    .section-title2 {
        font-size: 30px;
        margin: 10px 0px;
    }

    .post-title {
        font-size: 17px;
        margin: 10px;
    }

    .post-text {
        font-size: 14px;
        padding: 0 10px;
        margin: 10px;
    }

    .read-more {
        display: inline-block;
        font-size: 17px;
        margin: 10px 0px 0px;
    }

    footer {
        padding: 30px;
    }

    .footer-container {
        max-width: 1200px;
        margin-left: 50px;
    }

    .footer-section-brand {
        margin-left: -200px;
        padding-left: 250px;
        width: 300px;
        height: 150px;
    }

    .footer-section-brand img {
        margin-left: -50px;
        margin-top: -60px;
        width: 380px;
        height: 230px;
    }

    .footer-section-brand p {
        font-size: 15px;
        margin-top: -70px;
        margin-left: 30px;
        width: 230px;
    }

    .footer-section {
        min-width: 100px;
        padding-left: 20px;
        margin: 30px;
    }

    .footer-section h3 {
        font-size: 17px;
    }

    .footer-section ul li a {
        font-size: 15px;
    }

    .footer-section p {
        font-size: 15px;
        width: 250px;
    }

    .social-icons a {
        color: white;
        margin-right: 10px;
        font-size: 25px;
    }
}