* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.navbar {
    display: flex;
    background-color: black;
    position: relative;
    height: 110px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    display: flex;
    width: 220px;
    margin-top: 0px;
    margin-left: 180px;
}

.navdiv li {
    list-style: none;
    position: absolute;
    display: inline-block;
    margin-left: 820px;
    margin-top: -63px;
}

.navdiv li a {
    color: white;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
    position: relative;
}

.navdiv li a::after {
    content: "";
    position: absolute;
    background-color: #FF4F64;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 10px;
}

.navdiv li a:hover {
    color: #FF4F64;
}

.navdiv li a:hover:after {
    width: 100%;
}

.search {
    --padding: 14px;
    margin-left: 40px;
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: rgb(38, 38, 38);
    transition: box-shadow 0.25s;
}

.search-input {
    font-size: 19px;
    margin-left: 10px;
    color: white;
    outline: none;
    background: transparent;
    width: 300px;
    border: none;
}

.search-input::placeholder {
    color: rgb(255, 255, 255, 0, 7);
}

.search-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cart-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 850px;
    cursor: pointer;
    color: white;
}

.cart-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fav-icon {
    position: relative;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    color: white;
}

.fav-icon span {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.main-container {
    background-color: black;
    display: flex;
    gap: 20px;
    padding: 50px;
    max-width: 1900px;
    margin: auto;
}

.featured {
    flex: 5;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.featured img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.featured img.default {
    opacity: 1;
}

#news1:target~.main-container .featured img.img1,
#news2:target~.main-container .featured img.img2,
#news3:target~.main-container .featured img.img3,
#news4:target~.main-container .featured img.img4,
#news5:target~.main-container .featured img.img5,
#news6:target~.main-container .featured img.img6 {
    opacity: 1;
}

#news1:target~.main-container .featured img.default,
#news2:target~.main-container .featured img.default,
#news3:target~.main-container .featured img.default,
#news4:target~.main-container .featured img.default,
#news5:target~.main-container .featured img.default,
#news6:target~.main-container .featured img.default {
    opacity: 0;
}

.featured .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    padding: 20px;
    z-index: 2;
}

.news-list {
    flex: 2.5;
    height: 600px;
    border: 1px solid white;
    background-color: white;
}

.news-list a {
    font-size: 14px;
    font-weight: bold;
}

.news-item {
    display: block;
    font-size: 17px;
    padding: 35px 15px;
    border-bottom: 1px solid black;
    background-color: white;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

.news-item:last-child {
    border-bottom: none;
}

.news-item:active {
    color: white;
    background-color: #4d4c4c;
}

.sidebar {
    flex: 1.2;
    height: 564px;
    background: #eee;
    padding: 20px;
    text-align: center;
}

.sidebar h3 {
    background: #000;
    color: white;
    padding: 15px;
    font-size: 17px;
    margin-bottom: 20px;
}

.sidebar-item {
    margin-bottom: 15px;
}

.sidebar-item i {
    display: flex;
    margin: 30px auto 8px;
    font-size: 25px;
}

.sidebar-item h2 {
    font-size: 17px;
    margin: -30px 0px 0px 50px;
    text-align: start;
}

.sidebar-item a {
    color: black;
    text-decoration: none;
}

.hidden-anchor {
    display: none;
}

.tab-section {
    padding: 20px 25px 20px 50px;
    background: black;
}

input[type="radio"] {
    display: none;
}

.tab-labels {
    display: flex;
    border-bottom: 3px solid white;
    width: 98.6%;
}

.tab-labels label {
    padding: 20px 25px;
    cursor: pointer;
    font-weight: bold;
    background: #eaeaea;
    margin-right: 2px;
    position: relative;
    color: #000;
}

.tab-section hr {
    width: 98.3%;
    height: 2px;
    background-color: white;
    margin: 30px 0px 0px 0px;
}

input#tab1:checked~.tab-labels label[for="tab1"],
input#tab2:checked~.tab-labels label[for="tab2"] {
    background: #FF4F64;
    color: white;
}

input#tab1:checked~.tab-labels label[for="tab1"]::after,
input#tab2:checked~.tab-labels label[for="tab2"]::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 5px;
    background: white;
}

.tab-content {
    display: none;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

input#tab1:checked~.content #content1,
input#tab2:checked~.content #content2 {
    display: flex;
}

.post-card {
    background: #fff;
    width: 32%;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-card img {
    width: 100%;
    height: auto;
    display: block;
}

.video {
    width: 100%;
    height: 315px;
}

.post-content {
    padding: 12px 15px;
}

.post-content h4 {
    margin: 10px 0 8px;
    font-size: 19px;
    color: black;
}

.post-content span {
    font-size: 14px;
    color: black;
    display: block;
    margin-bottom: 8px;
}

.post-content p {
    font-size: 15px;
    color: black;
}

.container {
    background-color: black;
    display: flex;
    gap: 40px;
    padding: 30px;
}

.left-section {
    flex: 3;
    margin-left: 20px;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    margin-right: 20px;
}

.post-container {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post {
    color: white;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.post-img {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.post-text {
    flex: 1;
}

.post-text h3 {
    margin: 0;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.description {
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

.actions {
    margin-top: 10px;
    font-size: 14px;
}

.actions span {
    margin-right: 15px;
}

.subscribe-box {
    background-color: #3a3a3a;
    color: #fff;
    padding: 20px;
    height: 130px;
}

.subscribe-box h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.color {
    color: #FF4F64;
}

.subscribe-form {
    display: flex;
}

.subscribe-form input {
    flex: 1;
    padding: 10px;
    border: none;
}

.subscribe-form button {
    background-color: #FF4F64;
    border: none;
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.poster-section h3 {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.poster {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.poster img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #FF4F64;
    color: black;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 400px;
}

.footer-section-brand {
    margin-left: -180px;
    padding-left: 130px;
    width: 300px;
    height: 150px;
}

.footer-section-brand img {
    margin-left: -170px;
    margin-top: -90px;
    width: 490px;
    height: 300px;
}

.footer-section-brand p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -70px;
    margin-left: -80px;
    width: 300px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section p {
    font-weight: 600;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-section ul li a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons a:hover {
    color: black;
}

@media (max-width: 1440px) {
    .navbar {
        height: 100px;
    }

    .logo img {
        width: 170px;
        margin-top: 0px;
        margin-left: 190px;
    }

    .navdiv li {
        margin-left: 600px;
        margin-top: -45px;
    }

    .navdiv li a {
        padding: 10px 0px 0px 15px;
        font-size: 15px;
    }

    .navdiv li a::after {
        bottom: -5px;
    }

    .search {
        --padding: 14px;
        margin-left: 15px;
        width: 200px;
        height: 10px;
    }

    .search-input {
        font-size: 16px;
        margin-left: 8px;
        width: 300px;
    }

    .search-icon {
        font-size: 17px;
    }

    .cart-icon {
        font-size: 17px;
        margin-top: 46px;
        margin-left: 570px;
    }

    .cart-icon span {
        position: absolute;
        top: -5px;
        right: -10px;
        font-size: 12px;
        width: 12px;
        height: 12px;
    }

    .fav-icon {
        position: relative;
        font-size: 19px;
        margin-top: 45px;
        margin-left: 30px;
    }

    .fav-icon span {
        top: -4px;
        right: -10px;
        font-size: 12px;
        width: 12px;
        height: 12px;
    }

    .main-container {
        padding: 30px;
        max-width: 1900px;
    }

    .featured {
        flex: 5;
        height: 483px;
        position: relative;
        overflow: hidden;
    }

    .news-list {
        flex: 1;
        height: 480px;
        border: 1px solid white;
        background-color: white;
    }

    .news-list a {
        font-size: 10px;
        padding: 10px;
    }

    .news-item {
        display: block;
        font-size: 17px;
        padding: 5px 15px;
        border-bottom: 1px solid black;
        background-color: white;
        text-decoration: none;
        color: black;
        transition: background-color 0.3s;
    }

    .sidebar {
        flex: 1;
        height: 460px;
        background: #eee;
        padding: 10px;
        text-align: center;
    }

    .sidebar h3 {
        padding: 5px;
        font-size: 13px;
    }

    .sidebar-item i {
        margin: 30px 0px 8px 5px;
        font-size: 15px;
    }

    .sidebar-item h2 {
        font-size: 12px;
        margin: -25px 0px 0px 30px;
    }

    .tab-section {
        padding: 20px 25px 29px;
    }

    .tab-labels {
        display: flex;
        border-bottom: 3px solid white;
        width: 99.5%;
    }

    .tab-labels label {
        padding: 10px 10px;
        font-size: 13px;
        font-weight: 500;
    }

    .tab-section hr {
        width: 99.3%;
        height: 2px;
        margin: 30px 0px 0px 0px;
    }

    .post-card {
        width: 31.6%;
    }

    .video {
        height: 200px;
    }

    .post-content h4 {
        margin: -1px 0 8px;
        font-size: 14px;
    }

    .post-content span {
        font-size: 13px;
    }

    .post-content p {
        font-size: 14px;
    }

    .container {
        gap: 30px;
        padding: 10px;
    }

    .left-section {
        margin-left: 15px;
    }

    .right-section {
        gap: 30px;
        width: 200px;
        margin-right: 29px;
    }
    
    .post-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .post-text h3 {
        padding-bottom: 10px;
        font-size: 16px;
    }

    .description {
        font-size: 13px;
    }

    .subscribe-box {
        padding: 10px;
        width: 190px;
        height: 100px;
    }

    .subscribe-box h3 {
        font-size: 13px;
        margin-bottom: 12px;
    }

    .subscribe-form input {
        font-size: 10px;
        width: 90px;
        padding: 10px;
    }

    .subscribe-form button {
        background-color: #FF4F64;
        padding: 10px 15px;
        font-size: 10px;
    }

    .poster-section h3 {
        font-size: 12px;
    }


        footer {
        padding: 30px;
    }

    .footer-container {
        max-width: 1200px;
        margin-left: 50px;
    }

    .footer-section-brand {
        margin-left: -200px;
        padding-left: 250px;
        width: 300px;
        height: 150px;
    }

    .footer-section-brand img {
        margin-left: -50px;
        margin-top: -60px;
        width: 380px;
        height: 230px;
    }

    .footer-section-brand p {
        font-size: 15px;
        margin-top: -70px;
        margin-left: 30px;
        width: 230px;
    }

    .footer-section {
        min-width: 100px;
        padding-left: 20px;
        margin: 30px;
    }

    .footer-section h3 {
        font-size: 17px;
    }

    .footer-section ul li a {
        font-size: 15px;
    }

    .footer-section p {
        font-size: 15px;
        width: 250px;
    }

    .social-icons a {
        color: white;
        margin-right: 10px;
        font-size: 25px;
    }
}